/* Style Sheet created by ImportDoc 13.0 */

p.WD_Normal {
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:9.0pt;
	font-family:"Arial"   ,"sans-serif";
}

p.WD_Heading2 {
	margin-right:0cm;
	margin-left:0cm;
	line-height:18.75pt;
	font-size:13.5pt;
	font-family:"Verdana"   ,"sans-serif";
	color:#333333;
	font-weight:bold;
}

p.WD_CommentText {
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Arial"   ,"sans-serif";
}

p.WD_Header {
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:9.0pt;
	font-family:"Arial"   ,"sans-serif";
}

p.WD_Footer {
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:9.0pt;
	font-family:"Arial"   ,"sans-serif";
}

p.WD_CommentSubject {
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Arial"   ,"sans-serif";
	font-weight:bold;
}

p.WD_Acetate {
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:8.0pt;
	font-family:"Tahoma"   ,"sans-serif";
}

span.WD_Heading1 {
	font-family:"Cambria"   ,"serif";
	color:#365F91;
	font-weight:bold;
}

span.WD_Heading2 {
	font-family:"Cambria"   ,"serif";
	color:#4F81BD;
	font-weight:bold;
}

span.WD_CommentText {
	font-family:"Arial"   ,"sans-serif";
}

span.WD_Header {
	font-family:"Arial"   ,"sans-serif";
}

span.WD_Footer {
	font-family:"Arial"   ,"sans-serif";
}

span.WD_CommentSubject {
	font-family:"Arial"   ,"sans-serif";
	font-weight:bold;
}

span.WD_BalloonText {
	font-family:"Tahoma"   ,"sans-serif";
}

p.WD_msochpdefault {
	margin-right:0cm;
	margin-left:0cm;
	font-size:10.0pt;
	font-family:"Times New Roman"   ,"serif";
}

OL {
	margin-top:0px;
	margin-bottom:0px;
}

UL {
	margin-top:0px;
	margin-bottom:0px;
}

